.member_details {
  margin-top: -20px;
  .title {
    opacity: 0.6;
    font-size: 16px;
    font-family: sand_reg;
    font-weight: bold;
  }
  .content {
    opacity: 0.9;
    font-size: 26px;
    font-family: sand_small;
    font-weight: bold;
  }
  .mem_plan {
    margin: 40px 0;
  }
  .exipire{
    margin-bottom: -20px;
  }
}
