.header {
  background: #31b476;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 8px;
  padding-bottom: 14px !important;

  .head {
    width: 100%;
    color: #fff;
    font-family: metro;
  }
}
.header {
  padding-left: 34px !important;
  padding-right: 0px !important;
  .head {
    font-family: sand_reg;
    font-weight: bold;
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .header {
    padding-left: 14px !important;
    padding-right: 0px !important;
    .head {
      font-family: sand_reg;
      font-weight: bold;
      font-size: 15px;
    }
  }
}
