.picpack {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 88px;
  background: rgb(224, 223, 223);
  .picto {
    width: 120px;
    height: 120px;
    border: 10px white solid !important;
  }
}
.the_name {
  font-size: 16px;
  margin-top: 60px;
}
.adfe {
  margin-top: 30px;
}
.packa {
  div {
    
    font-variant-caps: all-small-caps;
    font-size: 19px;
    width: 50%;
    max-width: 50%;
    font-family: sand_reg;
    font-weight: bold;
  }
  .titless {
  }
}
