.Event_Page {
  .main_page {
    width: 100%;
    .main_button {
      margin-bottom: 20px;
      max-width: 300px;
      margin-left: auto;
      .edit_b {
        max-width: 130px;
        height: 35px;
        padding: 6px 16px !important;
        border-color: rgba(0, 0, 0, 0.349) !important;
        border-width: 3px !important;
        .text {
          text-transform: capitalize;
          // margin-top: 1.1px;
          margin-left: 5px;
          font-family: metro;
        }
        .fa {
          color: rgba(0, 0, 0, 0.39);
          margin-top: -1px !important;
        }
      }
      .edit_b.a {
        .fa {
          margin-top: 0px !important;
          color: rgba(41, 39, 36, 0.376);
        }
        padding: 6px 16px !important;
        color: rgb(255, 255, 255);
        background: #ff9d4d !important;
        border-color: rgba(41, 39, 36, 0.178) !important;
      }
    }
    .switch_button {
      margin-top: 30px;
      display: flex;
      white-space: 12px !important;
      .one,
      .two {
        width: 100%;
        margin: 0;
        margin-top: 15px;
        border-radius: 8px !important;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: lighter;
        font-family: metro;
        padding-bottom: 11px;
        background-color: rgba(0, 0, 0, 0.233) !important;
      }
      .bem {
        background: #fb8a30 !important;
        color: white !important;
      }
      .one {
        margin-right: 1.4% !important;
      }
      .two {
        margin-left: 1.4% !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .Event_Page {
    .main_page {
      width: 100%;
      .main_button {
        margin-bottom: 20px;
        max-width: 300px;
        margin-left: auto;
        .edit_b {
          max-width: 130px;
          height: 35px;
          padding: 6px 12px !important;
          border-color: rgba(0, 0, 0, 0.349) !important;
          border-width: 3px !important;
          .text {
            text-transform: capitalize;
            margin-top: 1.1px;
            margin-left: 5px;
            font-family: metro;
          }
          .fa {
            color: rgba(0, 0, 0, 0.39);
            margin-top: -1px !important;
          }
        }
        .edit_b.a {
          padding: 6px 12px !important;
          color: rgb(255, 255, 255);
          background: #ff9d4d !important;
        }
      }
      .switch_button {
        margin-top: 30px;
        display: block;
        margin-bottom: 10px;
        .one,
        .two {
          width: 100%;
          margin: 0;
          margin-top: 15px;
          border-radius: 8px !important;
          text-transform: capitalize;
          margin-left: 0 !important;
          background-color: rgba(0, 0, 0, 0.164) !important;
        }
        .one {
          margin-right: 0 !important;
        }
        .two {
          padding-top: 9.9px;
          height: 44.3px !important;
          padding-bottom: 9px;
        }
        .bem {
          background: #fb8a30 !important;
          color: white !important;
        }
      }
    }
  }
}
