.Q_and_A_Top {
  display: none;
}
.Q_A {
  .sokk {
    border-color: rgb(228, 221, 221) !important;
  }
  display: flex;
  .event_1 {
    background: #ffffff;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 1.4% !important;
    padding: 12px 0px !important;

    .event_1_head {
      padding: 10px 13px 3px 13px;
      .title {
        font-size: 21px;
        font-weight: bold;
      }
      .btn {
        background: #fb8a30;
        color: white;
        font-size: 13px;
        padding: 6px 9px !important;
        font-family: metro;
      }
    }
    .event_1_form {
      .box {
        min-height: 210px;
        .fa {
          position: absolute;
          font-size: 19px;
          padding-left: 21px;
          padding-top: 21px;
          color: #31b476;
        }
        .ppso {
          overflow: hidden;
        }
        textarea {
          padding: 22px 48px !important;
          width: 101%;
          min-height: 210px;
          border: none !important;
          font-family: 12px;
          font-family: ralo;
        }
        .form-control {
          border: none !important;
          font-size: 15px;
          &:hover {
            border: none !important;
          }
          &:active {
            border: none !important;
          }
        }

        .wwe {
          border-color: rgb(255, 255, 255) !important;
        }
      }
      .btty {
        margin-left: auto !important;
        margin-right: 0 !important;
        .btn {
          margin-top: 13px !important;
          background: #31b476;
          color: #fff;
          padding: 10px 25px !important;
          margin-right: 16px;
        }
      }
    }
    .questions {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      .question_head {
        justify-content: space-between;
        display: flex;
        min-width: 177px;
        padding-left: 10px;
        // padding-right: 19px;
        div {
          font-size: 13px;
          padding: 11px 16px !important;
          margin: 3px 3px !important;
          background: #e5e5e5;
          width: fit-content !important;
        }
        div:nth-last-of-type(2) {
          background: #2a4b5a;
          color: white;
        }
        .btn {
          width: fit-content !important;
        }
      }
      .question_right {
        padding-right: 12px;
        font-size: 13px;
        font-family: sand_small;
        font-weight: bold;
      }
      margin-bottom: 20px !important;
    }
  }
  .sd {
    margin-left: 1.4% !important;
    margin-right: 0% !important;

    .empty_archive {
      min-height: 390px;
      .title {
        font-family: sand_reg;
        font-weight: bold;
        font-size: 18px;
      }
      .content {
        margin-top: 16px;
        font-family: ralo;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 800px) {
  .Q_and_A_Top {
    display: block;
    .klsd {
      margin-left: 25px;
    }
    .home_header {
      width: fit-content;
      margin-right: 4px;
      margin-left: 4px;
      .awls {
        padding-bottom: 7px;
        .view_all,
        .other_Events {
          font-size: 14px;
        }
        .true {
          transition-duration: 300ms;
          color: #fa6400;
        }
      }
      .lines {
        background: #ffffff73;
        .lines_move {
          transition-duration: 300ms;
          margin-right: auto;
          padding: 1.3px;
        }
        .true {
          background: #fa6400;
        }
        .false {
          background: #fa6400;
          margin-left: 50%;
        }
      }
    }
  }
  .Q_A {
    overflow: hidden;
    .sokk {
      border-color: rgb(235, 232, 232) !important;
    }
    .event_1.moved {
      // display: block !important;
      margin-left: -101.3%;
    }
    display: flex;
    .event_1 {
      transition-duration: 0.2s;
      min-width: 100% !important;
      background: #ffffff;
      box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      margin-right: 1.4% !important;
      padding: 12px 10px;
      .event_1_head {
        padding: 10px 0px 3px 6px;
        .title {
          font-size: 19px;
          font-weight: bold;
          font-family: rali;
          display: none;
        }
        .btn {
          background: #fb8a30;
          color: white;
          font-size: 11px;
          padding: 5px 6px !important;
          font-family: metro;
        }
      }
      .event_1_form {
        .box {
          min-height: 210px;
          .fa {
            position: absolute;
            font-size: 16px;
            padding-left: 21px;
            padding-top: 25px;
            color: #31b476;
          }
          .ppso {
            overflow: hidden;
          }
          textarea {
            padding: 24px 48px !important;
            width: 101%;
            min-height: 210px;
            border: none !important;
            font-family: 12px;
            font-family: rali !important;
            font-weight: bold;
          }
          .form-control {
            border: none !important;
            font-size: 14px;
            &:hover {
              border: none !important;
            }
            &:active {
              border: none !important;
            }
          }

          .wwe {
            border-color: rgb(255, 255, 255) !important;
          }
        }
        .btty {
          margin-left: auto !important;
          margin-right: 0 !important;
          .btn {
            margin-right: 8px !important;
            margin-top: 13px !important;
            background: #31b476;
            color: #fff;
            padding: 7px 22px !important;
          }
        }
      }
      .questions {
        padding-right: 0 !important;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        .question_head {
          justify-content: space-between;
          display: flex;
          min-width: 170px;
          padding-left: 0px;

          div {
            font-size: 12px;
            padding: 7px 17px !important;
            margin: 3px 3px !important;
            background: #e5e5e5;
            color: rgb(121, 115, 115);
            width: fit-content !important;
          }
          div:nth-last-of-type(2) {
            background: #2a4b5a;
            color: white;
          }
          .btn {
            width: fit-content !important;
          }
        }
        .question_right {
          padding-right: 12px;
          font-size: 13px;
          font-family: sand_reg;
          font-weight: bold;
        }
        margin-bottom: 20px !important;
      }
    }
    .sd {
      margin-left: 0% !important;
      margin-right: 0% !important;

      .empty_archive {
        min-height: 390px;
        .title {
          font-weight: bold;
          font-family: rali;
          font-size: 18px;
        }
        .content {
          margin-top: 12px;
          font-family: rali;
          font-weight: bold;
          font-size: 14px;
          max-width: 300px;
        }
      }
    }
  }
}
