.CardTwo {
  background: rgba(73, 49, 174, 0.56);
  padding: 50px 70px;
  .inner {
    // .left,
    // .right {
    // }
    .left {
      color: white;
      .title {
        font-size: metro;
        font-size: 27px;
      }
      .sub_title {
        margin-top: 12px;
        height: 53px;
        margin-bottom: 5px;
        font-size: 15px;
      }
      .button {
        background: #fb8a30;
        max-width: 63%;
        border-radius: 7px;
        padding: 12px 30px !important;
        font-size: 13.8px !important;
        color: white !important;
      }
    }
    .right {
      display: flex;
      .days {
        padding: 0 !important;
        font-size: 25px !important;
        font-weight: 900;
        font-family: sand_small;
        margin-top: -2px;
      }
      .tine {
        font-family: sand_small;
        font-size: 12px;
        margin-top: -6px;
        font-weight: 900 !important;
      }
      .circles {
        display: flex;
        .circle_one {
          margin-right: 9%;
          overflow: hidden;
          background: white;
          border-top-color: #fb8a30 !important;
          border-width: 5px !important;
          min-height: 74px;
          min-width: 74px;
        }
        .circle_one:nth-of-type(1) {
          border-bottom-color: #fb8a30 !important;
        }
        .circle_one:nth-of-type(2) {
          border-left-color: #fb8a30 !important;
        }
        .circle_one:nth-of-type(3) {
          border-right-color: #fb8a30 !important;
        }
        .circle_one:nth-of-type(4) {
          border-bottom-color: #fb8a30 !important;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .CardTwo {
    background: rgba(73, 49, 174, 0.56);
    padding: 20px 8%;
    .inner {
      display: block;
      .left,
      .right {
        width: 100% !important;
      }
      .left {
        color: white;
        .title {
          font-size: metro !important;
          font-size: 29px;
        }
        .sub_title {
          margin-top: 6px !important;
          height: 48px;
          margin-bottom: 5px;
          font-size: 15px;
        }
        .button {
          background: #fb8a30;
          max-width: 63%;
          border-radius: 7px;
          padding: 8px 17px !important;
          font-size: 12.6px !important;
          color: white !important;
          margin-bottom: 30px !important;
        }
      }
      .right {
        display: flex;
        .days {
          padding: 0 !important;
          font-size: 22px !important;
          font-weight: 900;
          font-family: sand_small;
          margin-top: -2px;
        }
        .tine {
          font-family: sand_small;
          font-size: 10px;
          margin-top: -6px;
          font-weight: 900 !important;
        }
        .circles {
          display: flex;
          .circle_one {
            margin-right: 9%;
            overflow: hidden;
            background: white;
            border-top-color: #fb8a30 !important;
            border-width: 5px !important;
            height: 70px;
            width: 74px;
          }
          .circle_one:nth-of-type(1) {
            border-bottom-color: #fb8a30 !important;
          }
          .circle_one:nth-of-type(2) {
            border-left-color: #fb8a30 !important;
          }
          .circle_one:nth-of-type(3) {
            border-right-color: #fb8a30 !important;
          }
        }
      }
    }
  }
}
