.CardTwo {
  .soos {
    width: fit-content !important;
  }
  .don {
    font-size: 14px !important;
    cursor: pointer;
    font-family: sand_small;
    width: fit-content !important;
  }
  .kopiu {
    margin-left: auto;
    margin-top: 21px;
    position: absolute;
    color: white;
    text-shadow: rgb(73, 71, 71) 1px 2px 2px;

    // right: 5%;
    // margin-right: 16px;
  }
  .kopi {
    margin-left: auto;
    margin-top: 52px;
    position: absolute;
    color: white;
    text-shadow: rgb(73, 71, 71) 1px 2px 2px;

    // right: 5%;
    // margin-right: 16px;
  }
  background-color: rgba(73, 49, 174, 0.56);
  padding: 50px 70px;
  border: rgb(212, 212, 216) solid;
  height: fit-content;
  min-height: 320px;
  max-height: fit-content;
  background-size: 47% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  .inner {
    // .left,
    // .right {
    // }
    .left {
      color: white;
      text-shadow: rgb(73, 71, 71) 1px 2px 2px;
      .title {
        font-size: metro;
        font-size: 27px;
      }
      .sub_title {
        margin-top: 12px;
        height: 53px;
        margin-bottom: 5px;
        font-size: 15px;
      }
      .button {
        background: #fb8a30;
        max-width: fit-content;
        border-radius: 7px;
        padding: 12px 30px !important;
        font-size: 13.8px !important;
        color: white !important;
      }
    }
    .right {
      display: flex;
      width: 67% !important;
      .days {
        padding: 0 !important;
        font-size: 25px !important;
        font-weight: 900;
        font-family: sand_small;
        margin-top: -2px;
      }
      .tine {
        font-family: sand_small;
        font-size: 12px;
        margin-top: -6px;
        font-weight: 900 !important;
      }
      .circles {
        display: flex;
        .circle_one {
          margin-right: 4%;
          overflow: hidden;
          background: white;
          border-top-color: #fb8a30 !important;
          border-width: 5px !important;
          min-height: 74px;
          min-width: 74px;
        }
        .circle_one:nth-of-type(1) {
          border-bottom-color: #fb8a30 !important;
        }
        .circle_one:nth-of-type(2) {
          border-left-color: #fb8a30 !important;
        }
        .circle_one:nth-of-type(3) {
          border-right-color: #fb8a30 !important;
        }
        .circle_one:nth-of-type(4) {
          border-bottom-color: #fb8a30 !important;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .CardTwo {
    min-height: 350px;

    .kopiu {
      // margin-left: auto;
      margin-top: 6px;
      // right: 6%;
      margin-top: 30px;
      // position: relative;
      color: white;
      text-shadow: rgb(73, 71, 71) 1px 2px 2px;
      // margin-left: auto;
      width: fit-content;
      text-align: left;
      padding-top: 8px;
      margin-bottom: -9px;
      margin-top: 252px;
    }
    .kopi {
      margin-left: auto;
      margin-right: auto;

      margin-top: 281px;
      position: absolute;
      color: white;
      text-shadow: rgb(73, 71, 71) 1px 2px 2px;

      // right: 5%;
      // margin-right: 16px;
    }
    background: rgba(74, 49, 174, 0.37);
    padding: 20px 8%;
    background-size: 100% 100%;
    background-position: 0 0;
    .inner {
      display: block;
      .left,
      .right {
        width: 100% !important;
      }
      .left {
        color: white;
        .title {
          font-size: metro !important;
          font-size: 29px;
        }
        .sub_title {
          margin-top: 6px !important;
          height: 48px;
          margin-bottom: 5px;
          font-size: 15px;
        }
        .button {
          background: #fb8a30;
          max-width: 63%;
          border-radius: 7px;
          padding: 8px 17px !important;
          font-size: 11px !important;
          color: white !important;
          margin-bottom: 30px !important;
        }
      }
      .right {
        display: flex;
        .days {
          padding: 0 !important;
          font-size: 22px !important;
          font-weight: 900;
          font-family: sand_small;
          margin-top: -2px;
        }
        .tine {
          font-family: sand_small;
          font-size: 10px;
          margin-top: -6px;
          font-weight: 900 !important;
        }
        .circles {
          display: flex;
          margin-left: -2.3%;
          .circle_one {
            margin-right: 4%;
            margin-left: -1%;
            overflow: hidden;
            background: white;
            border-top-color: #fb8a30 !important;
            border-width: 5px !important;
            max-height: 55px !important;
            max-width: 59px !important;
            min-height: 69px !important;
            min-width: 69px !important;
            height: 55px !important;
            width: 59px !important;
          }
          .circle_one:nth-of-type(1) {
            border-bottom-color: #fb8a30 !important;
          }
          .circle_one:nth-of-type(2) {
            border-left-color: #fb8a30 !important;
          }
          .circle_one:nth-of-type(3) {
            border-right-color: #fb8a30 !important;
          }
        }
      }
    }
  }
}
