.dedom {
  .tones {
    font-size: 21px;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    padding: 0 !important;
  }
  .coni {
    padding-right: 5px;
    color: rgb(248, 151, 151);
    font-weight: lighter;
  }
  .con,
  .conis {
    padding-right: 8px;
    padding-left: px;
    font-size: 16px !important;
  }
  .conis {
    padding-left: 1px;
    padding-right: 6px;
    font-weight: lighter;
    color: rgb(248, 151, 151);
  }
  .opac {
    font-weight: lighter;
    margin-bottom: 10px;
  }
  .jo {
    font-weight: lighter;
    font-family: sand_small;
  }
  .contaa {
    font-family: sand_small;
    font-size: 17px;
    margin-top: 13px;
  }
  .sstt {
    font-weight: lighter;
    font-family: sand_reg;
  }
}
