$rod: rgb(226, 77, 77);
$sod: rgb(15, 235, 99);
.vetModal.opas {
  background: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
}
.vetModal {
  // flex-direction: column;
  z-index: 2;
  background: red;
  position: absolute;
  // padding-left: 9px;
  padding: 2px;
  padding-right: 15px;
  .rounding {
    border-radius: 50%;
    padding: 9px 13px;
    border-radius: 50%;
    margin-right: 10px;
    border: rgba(245, 100, 100, 0.671) solid 2px !important;
    .fa {
      color: $rod;
      font-size: 13px;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  .text {
    font-size: 15.4px;
    font-family: sand_reg;
    color: $rod;
    margin-bottom: 3.1px;
  }
  .tox {
    color: rgb(0, 183, 255);
    font-family: sand_small;
    font-size: 14.3px;
  }
}
.vetModal.success {
  .rounding {
    font-size: 15px;
    padding: 9px 9.3px;
    border: rgba(64, 248, 162, 0.671) solid 2px !important;
  }
  .fa {
    color: $sod;
  }
  .text {
    color: rgb(15, 224, 15);
  }
  // border-top-left-radius: ;
}
.JOEUI{
  position: fixed !important;
  left: 0;
  top: 0;
}
.JOE{
  left: 50%;
  top: 50%;
}
