.dowlud {
  background-image: url("./../../assets/medias/download_icon.png");
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.hiiisf {
  display: block;
  // position: fixed;
  // max-height: 100%;
  height: fit-content !important;
  // // top: 0;
  
}
