.real_question:last-of-type {
  border-bottom: none !important;
}

.absoluted {
  overflow: hidden;
  width: 95px;
  position: absolute;
  float: left;
  margin-left: 330px;
  margin-top: 37px;
  padding: 4px 0;
  .toe {
    font-family: sand_reg;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    font-size: 14px;
    &:hover {
      background-color: #dadada !important;
    }
    .fa {
      margin-top: 2px;
      margin-right: 10px;
      padding-left: 10px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.685);
    }
  }
}
.real_question {
  .my_que {
    transition-duration: 0.2s;
    &:hover {
      background: #b5e9d0d7;
      .fa-star {
        background: #c3c0c0 !important;
      }
    }
    .head {
      // height: 44px;
      font-size: 14px;
      .pcsa {
        // font-family: rali;
        font-weight: bold;
        overflow: hidden;
        color: rgb(83, 80, 80);
        font-size: 13.4px;

        overflow: hidden !important;
        transition: 0.46s ease-in-out !important;
        max-height: 3000px;
        height: fit-content;
      }
      .hie {
        max-height: 41px;
        height: 41px;
      }
      .set_up {
        .fa-star {
          color: white;
          padding: 3px 3px 5px 3px;
          font-size: 11.4px;
          background: #ccca9a;
        }
        .fa-lightbulb {
          color: white;
          padding: 3px 5px 3px 5px;
          background: #31b476;
          font-size: 11.2px;
        }
        .fa-chevron-circle-up,
        .fa-chevron-circle-down {
          margin-bottom: 2px;
          border-color: #fb8a30 !important;
          color: #ffb031 !important;
          color: white;
          // padding: 3.3px 3.2px 3px 3.2px;
          font-size: 18.3px;
        }
      }
    }
    .bottom {
      text-align: left;
      .the_img {
        background-position: center;
        background-size: 100% 100%;
        height: 40px;
        width: 41px;
        margin-right: 6px;
      }

      .content {
        margin-right: auto;

        .name {
          font-size: 13.4px;
          font-weight: bold;
          font-family: sand_small;
        }
        .time {
          color: #7a7677;
          font-family: metro;
          font-size: 10px;
        }
      }
    }
    .commentary {
      color: rgb(126, 122, 122);
      font-size: 11.5px;
      .likes {
        padding: 1.4px 8px;
        border-radius: 6px;
        background: white;
      }
      .menus {
        margin-left: 6px;
        margin-right: 5px;
        span {
          padding: 3px !important;
          margin-left: 1.4px;
          background: #a8acb1;
          margin-right: 1.4px;
        }
      }
    }
  }
}
.dl {
  display: none;
}

@media (max-width: 800px) {
  .real_question {
    .my_que {
      padding: 3.4px !important;
      padding-left: 9px !important;
      padding-right: 7px !important;
      padding-top: 6px !important;
      padding-bottom: 6px !important;
      transition-duration: 0.2s;
      &:hover {
        background: #b5e9d0d7;
        .fa-star {
          background: #c3c0c0 !important;
        }
      }
      .head {
        font-size: 14px;
        .pcsa {
          // font-family: rali;
          // overflow: hidden;
          color: rgb(83, 80, 80);
          font-size: 13px;
          font-family: metro;
          font-weight: lighter;

          overflow: hidden !important;
          transition: 0.46s ease-in-out !important;
          max-height: 3000px;
          height: fit-content;
        }

        // .hir {
        //   overflow: hidden;
        //   max-height: 41px;
        // }

        .set_up {
          .fa-star {
            color: white;
            padding: 3px 3px 5px 3px;
            font-size: 11.4px;
            background: #ccca9a;
          }
          .fa-lightbulb {
            color: white;
            padding: 3px 5px 3px 5px;
            background: #31b476;
            font-size: 11.2px;
          }
          .fa-chevron-circle-up,
          .fa-chevron-circle-down {
            margin-bottom: 2px;
            border-color: #fb8a30 !important;
            color: #fb8a30 !important;
            color: white;
            // padding: 1.3px 1.2px 1px 1.2px;
            font-size: 20px !important;
          }
        }
      }
      .bottom {
        text-align: left;
        .the_img {
          background-position: center;
          background-size: 100% 100%;
          height: 40px;
          min-width: 40px;
          margin-right: 4px;
        }

        .content {
          margin-right: auto;

          .name {
            font-size: 13.4px;
            font-weight: bold;
            font-family: sand_small;
            opacity: 0.7;
          }
          .time {
            color: #7a7677;
            font-family: metro;
            font-size: 10px;
          }
        }
      }
      .commentary {
        color: rgb(126, 122, 122);
        font-size: 11.5px;
        .likes {
          padding: 1.4px 8px;
          border-radius: 6px;
          background: white;
        }
        .dl {
          display: block;
        }
        .ld {
          display: none;
        }
        .menus {
          margin-left: 3px !important;
          margin-right: 2px;
          span {
            padding: 3px !important;
            margin-left: 1.4px;
            background: #a8acb1;
            margin-right: 1.4px;
          }
        }
      }
    }
  }
  .commentin {
    padding-left: 12px;
    padding-right: 0px;
    .commen {
      display: flex;
      .pic {
        height: 32px;
        min-width: 34px;
        margin-right: 7px;
      }
      .poc {
        // height: 50px;
        .name {
          margin-bottom: 6px;
          font-size: 12px;
          font-family: sand_reg;
          font-weight: bold;
        }
        .comment {
          font-size: 13px;
          font-family: sand_reg;
        }
      }
      .pac {
        font-size: 11px;
        min-width: fit-content;
        font-family: sand_small;
        opacity: 0.8;
        margin-top: 0px !important;
        margin-left: 3px;
        padding-right: 2px;

        // font-weight: bold;
      }
    }
  }
}

@media (max-width: 1000px) {
  // .paod {
  //   max-height: 3000px !important;
  //   height: 3000px !important;
  // }
}

.heaty {
  height: 45px;
  font-size: 13px;
  padding-bottom: 21px;
  font-family: sand_small;
  font-weight: bold;
}
.paod {
  overflow: hidden !important;
  transition: 0.32s ease-in-out !important;
  max-height: 3000px;
  height: fit-content !important;
}

.coment {
  overflow: hidden;
  max-height: 0px;
}

.cooc {
  font-size: 13px;
  font-family: sand_small;
  margin-left: 10px;
  margin: 9px 0 3px 10px;
  font-weight: bold;
}
.commentin {
  padding: 0 10px;
  padding-left: 12px;
  .bala {
    margin-top: 12px;
    padding-bottom: 6px;
    .chooo {
      margin-bottom: 0 !important;
      border: 2px solid #fb9130 !important;
    }
  }
  .commen {
    display: flex;
    .pic {
      height: 28px;
      min-width: 30px;
      margin-right: 7px;
    }

    .poc {
      // height: 50px;
      .name {
        margin-bottom: 6px;
        font-size: 12px;
        font-family: sand_reg;
        font-weight: bold;
      }
      .comment {
        font-size: 13px;
        font-family: sand_reg;
      }
    }
    .pac {
      font-size: 12px;
      min-width: fit-content;
      font-family: sand_small;
      margin-left: 6px;
      // font-weight: bold;
    }
  }
}
    .post {
      background: #31b476;
      display: flex;
      color: white !important;
      font-size: 10.4px !important;
      padding-left: 4px !important;
      padding-right: 4px !important;
      border-radius: 4px !important;
      min-height: 61px !important;
      max-height: 61px !important;
      height: 61px !important;
      min-width: 67.03px !important;

      text-align: center;
      justify-content: center;
      align-items: center;
    }