.Annual_Sub {
  margin-top: 7px;
  * {
    font-family: sand_reg;
  }
  .cad {
    .right {
      height: 228px;
      min-width: 48%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("./../../../assets/medias/payment.png");
    }
    .left {
      margin-top: 9px !important;
      max-width: 48%;
      margin-left: auto;
      .form-control {
        color: #495057 !important;
        background-color: #fff !important;
        border-color: #ffd5ae !important;
        outline: 0 !important;
        color: rgb(243, 156, 17) !important;
        box-shadow: 0 0 0 0.2rem #ffd5ae !important;
      }
      .place {
        width: 40px !important;
        padding-right: 10px;
        height: 36px;
        margin-left: -42px;
        margin-top: 19px;
        margin-bottom: auto;
        background-color: white;
        z-index: 1;

        .eew {
          background-size: 60% 40% !important;
          background-image: url("./../../../../src/assets/medias/svg/Poli.png");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      select {
        &::-ms-expand {
          display: none !important;
        }
        margin-top: 18px !important;
        margin-bottom: 10px !important;
        font-size: 16px;
        color: rgb(243, 156, 17);
        font-family: sand_small;
        font-weight: bold;
        padding-right: 22px !important;
        option {
          font-size: 16px;
          color: rgb(243, 156, 17);
          font-family: sand_small;
          font-weight: bold;
          padding-right: 22px !important;
        }
      }

      .plan {
        font-size: 12px !important;
        font-family: sand_small;
        font-style: italic;
        opacity: 0.8;
        font-weight: bold;
      }
      .date {
        margin-top: 14px;
        font-weight: bold;
        font-size: 13px;
      }
      .data {
        font-size: 13px;
        font-weight: bold;
        opacity: 0.8;
        font-family: sand_small;
      }
      .headr {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .Annual_Sub {
    margin-top: 5px;
    .cad {
      display: flex !important;
      flex-direction: column-reverse !important;
    }
    .right {
      max-width: 100% !important;
      height: 170px !important;
      margin-top: 10px !important;
    }
    .left {
      max-width: 100% !important;
      width: 100% !important;
      padding: 10px 2.6% !important;
    }
  }
}
