.payment_history_table {
  padding: 19px 9px 10px 9px;
  &:last-of-type{
    border-bottom: none !important;
  }
  .put {
    font-weight: bold;
    font-family: sand_reg;
    padding-right: 10px;
    min-width: fit-content;
    color: rgb(65, 65, 63);
    max-width: fit-content !important;
    font-size: 14.5px;
  }
  .date {
    margin-top: -6px !important;
    font-size: 13px;
    .time {
      font-size: 12.5px;
      color: rgba(46, 46, 44, 0.568);
    }
    max-width: 23% !important;
  }
  .type {
    color: rgb(46, 46, 45);
    max-width: 39% !important;
  }
  .price {
    min-width: fit-content;
    color: rgb(46, 46, 45);
    max-width: 15% !important;
  }
  .car {
    max-width: 20% !important;
  }
}

@media (max-width : 1000px){
  .PH{
    display: block !important;
    
  }
}