body {
  overflow-x: hidden;
  /* font-family: "Open Sans", sans-serif; */
}

.flags {
  width: 70px;
  height: 70px;
}

.container-fluid {
  /* padding-left: 0px !important; */
  /* padding-right: 0px !important; */
}
.company-logo {
  width: 150px !important;
  height: 150px !important;
  border-radius: 5px !important;
}

.header-bg {
  width: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
}

.side-menu-left,
.-alt-side-menu-left {
  background-color: #0f2f3e;
  position: fixed;
  padding-bottom: 40px;
  overflow-y: scroll;
  width: 200px;
  left: 0;
  z-index: 1;
}

.side-menu-left {
  top: 90px;
  height: calc(100vh - 90px);
}

.-alt-side-menu-left {
  top: 155px;
  height: calc(100vh - 155px);
}

.menu-content {
  padding-left: 200px;
  padding-top: 120px;
  width: 100%;
  min-height: calc(100vh - 120px);
}

ul.side-menu-list {
  padding-top: 20px;
}

.alt-dashboard .menu-content {
  padding-top: 170px;
  padding-left: 220px;
}

.list-item {
  text-decoration: none;
  list-style-type: none;
  padding: 14px 0 14px 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: left;
  width: 100%;
}

.list-item:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #0f2f3e;
}

.list-item:hover a {
  color: #2a4b5a;
}

.list-item a {
  color: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  position: relative;
}

.list-item a span i {
  padding-right: 8px;
}

.float-icon-right {
  position: absolute;
  top: 0;
  right: 0;
}

.header-secondary {
  width: 100%;
  height: 60px;
  background-color: #006d3a;
  height: 60px;
  position: fixed;
  top: 100px;
}

.header-bg-blue {
  background-color: #2a4b5a;
  height: 100px;
}

.mobile-header-bg-blue {
  background-color: #0f2f3e;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header-bg-blue i {
  color: #fa6400;
  font-size: 2rem;
  cursor: pointer;
}

.header-title {
  font-size: 20px;
  line-height: 60px;
  font-weight: 600;
  margin: 0 !important;
}

.header-secondary .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.header-user-profile h4 {
  font-size: 1.2rem;
}
ul.header-sub-menu-list {
}

li.header-sub-menu-list-item {
  list-style-type: none;
  float: left;
  position: relative;
  padding: 10px 10px 10px 10px;
  line-height: 40px;
  font-weight: 600;
}

.header-sub-menu-list-item:hover {
  cursor: pointer;
}

.header-sub-menu-list-item:hover::after,
ul.header-sub-menu-list .active::after {
  content: "";
  cursor: pointer;
  position: absolute;
  height: 10px;
  width: 30px;
  bottom: 20%;
  left: 34%;
  border-bottom: 3px solid #f5821f;
}

.events-content {
  font-size: 2.5rem;
}

.events-calendar i {
  font-size: 4rem;
  color: #2a4b5a;
}

.img-logo {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
}

.header-user-profile {
  color: #fff;
  font-weight: 600;
}

.header-user-profile h4,
.header-user-profile h6 {
  font-weight: inherit;
}

.fixed-header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.bg-yellow {
  background-color: #fa6400;
  color: #fff;
}

.home-supervisor-icon {
  font-size: 3rem;
  color: #3c6679;
  padding-right: 8px;
}

.home-supervisor-icon .material-icons {
  font-size: inherit;
}

.summary-report h4 {
  font-size: 12px;
  color: #2a4b5a;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.summary-report h6 {
  font-size: 20px;
  font-weight: bolder;
}

.home-chats-count,
.home-user-profile {
  min-height: 250px;
  border-radius: 5px;
  position: relative;
}

.home-chats-count {
  background: #6a8da7;
}

.home-user-profile {
  background-color: #3c444d;
}

.home-more-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  font-size: 16px;
}

.home-chats-icon .material-icons {
  color: #fff;
  font-size: 20px;
}

.bg-green {
  background-color: #006d3a;
}

.profile label {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.user-dasboard-header2 {
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 20;
  background-color: #2a4b5a;
}

.user-dasboard-header1,
.user-dasboard-header2 {
  position: fixed;
}

.body {
}

.user-dasboard-header1 {
  z-index: 10;
  top: 0;
  height: 80px;
  left: 0;
  width: 100%;
  background-color: rgba(42, 75, 90, 0.88);
}

.bg-blue {
  background-color: #2a4b5a;
}

.membership-settings .box {
  min-height: 250px;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.loader {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
}

.rotate-90-deg {
  transform: rotate(90deg);
}

.sub-menu-controller:hover ul.submenu {
  display: inline-block !important;
}

ul.submenu {
  display: none;
  position: absolute;
  top: -120px;
  left: 40px;
  z-index: 23;
  background-color: #fff;
  border-radius: 5px;
}

li.submenu-item {
  color: #1d3f4f;
  padding: 9px 15px;
}

.MuiTypography-root.MuiTypography-h6 {
  font-family: "Open Sans", sans-serif;
  color: #fa6400;
}

.MuiInput-underline:before {
  /* border-bottom: none !important; */
}

.MuiInput-underline:focus:before {
  border-bottom: none !important;
}

.MuiInput-underline input {
  border-bottom: none !important;
}

.MuiInput-underline input[type="text"]:focus {
  border-bottom: none !important;
}

.MuiPaper-root {
  box-shadow: none !important;
}

.member-type-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.63);
}

.member-type-header.active:before {
  content: "";
  position: absolute;
  border: 1px solid #089242;
  width: calc(100% + 10px);
  margin-left: 8px;
  bottom: 0rem;
  left: -9px;
}

.dropdown-toggle {
  font-weight: bolder;
  font-size: 11px;
}

.header-secondary .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block;
  }
  .menu-content {
    padding-left: 0 !important;
    padding-top: 2rem !important;
  }
}

.mobile-fixed-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.mobile-menu-item {
  background-color: #2a4b5a;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
}

.show-more-menu {
  display: flex;
}

.show-less-menu {
  display: none;
}

.mobile-menu a {
  color: #fff;
}
.mobile-header-bg-blue .active {
  background-color: #fff !important;
  color: #000 !important;
}

.mobile-menu-item.active a {
  color: #000 !important;
}

.mobile-menu .col-md-6 {
  width: 50%;
}

.mobile-menu .row {
  margin-bottom: 10px;
}

li.submenu-item a {
  color: #000 !important;
}

div.menu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;
}

.text-italic {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  font-style: oblique;
}
/* .member-type-header:hover:before{
  content: "";
    position: absolute;
    border: 2px solid #089242;
    width: calc(50% - 40px);
    
    bottom: -1rem;
    left: calc(50% - 20px);
} */

.sidenav img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.sidenav .background {
  height: 200px;
}

.sidenav .list-item {
  font-weight: bolder;
}

.select-wrapper {
  width: 100%;
}

select {
  display: block;
}

.circle-avatar {
  position: relative;
  /* width: 96px;
  height: 96px; */
  border-radius: 50%;
  /* background-color: #bdbdbd; */
}

.camera-button {
  position: absolute;
  bottom: 17px;
  left: 156px;
  cursor: pointer;
  font-size: 30px;
}

.camera-button i {
  font-size: inherit;
}

.img-avatar {
  object-fit: cover;
  width: 200px;
  height: 200px;
  /* height: 100%; */
  border-radius: 50%;
}

.fw-bold {
  font-weight: bold;
}

.book-family {
  font-family: "Modern Antiqua", cursive;
}

.border-bottom {
  border-bottom: 1px solid #f3f3f3;
}

.text-underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user-profile-image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  border-radius: 5px;
}

.user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs-bottom {
  background: #0f2f3e;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.event-role-item {
}

.user-dasboard-header2 li.active {
  background: #fff;
  color: #000;
  border-right: 1px solid #2a4b5a;
}

.cursor-pointer {
  cursor: pointer;
}
