@font-face {
  font-family: Verdana;
  src: url("../src/fonts/verdana.ttf");
}

body {
  margin: 0;
  font-family: Verdana, "Roboto" sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: #cde8f7 !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-form-group {
  margin: 0 50px;
}

::placeholder {
  color: #444;
  opacity: 1;
}

.no-notification {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-item {
  list-style-type: circle !important;
  margin-top: 0.9rem !important;
  margin-left: 10px !important;
}

label {
  color: #000;
  font-weight: bold;
}
.checkbox-span {
  font-size: 12px !important;
}
