@import "./scopes";
@import "variables";
@import "dist/sematic";
@import "extendibles";
@import "class";
@import "fonts";

* {
  font-family: ralo;
  margin: 0;
  padding: 0;
}
.ralo {
  font-family: ralo !important;
}
html {
  margin: 0;
  padding: 0;
}
.new_bg {
  background: #d8dde0 !important;
}
body {
  // background: rgba(91, 200, 250, 0.02);
  background: white !important;
  color: rgba(41, 38, 38, 0.938);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text_inherit {
  color: inherit !important;
}
.ri {
  border-right: 1px solid #08a85d;
}

.sort_app {
  // background: #c2c9cea1;

  display: flex;
  .blacko {
    height: 100% !important;
    width: 230px;
    background: #143240;
  }
  .sort_nav {
    .falo {
      max-height: 100vh!important;
      overflow-y: scroll;
    }
    transition-duration: 0.2s;
    color: white;
    background: #0f2f3edf;
    .side {
      // position: fixed;
      width: 100%;
      z-index: 1;
      height: 100%;
    }
  }
  .sort_page {
    padding-left: 3.6%;
    padding-right: 3.6%;
    max-width: 100%;
    width: 100%;
  }
  .indez {
    position: absolute;
    z-index: -3;
  }
}
.slabel{
  font-family: sand_reg !important;
  padding-left: 5px !important;
  font-size: 15px !important;
  opacity: 0.8 !important;
  color: black !important;
  
}
.s_show {
  display: none;
}
.l_show {
  display: block;
}
@media (max-width: 1000px) {
  .falo {
    overflow-y: hidden !important;
    
  }
  .ri {
    border-right: 0px solid #08a85d;
    border-left: 0px solid #08a85d;
  }
  .sort_page {
    padding-left: 2% !important;
    padding-right: 2% !important;
    max-width: 100%;
    width: 100%;
  }
  .sort_app {
    display: block;
    // width: 100%;
    .blacko {
      border-right: none;

      width: 100%;
      background: #446162;
    }
    .sort_nav {
      width: 100%;
      max-height: fit-content !important;
    }
    .sort_nav.false {
      max-height: 0px !important;
      overflow: hidden;
      .nav_button {
        visibility: hidden;
      }
      .nav_button:nth-of-type(1) {
        visibility: visible;
      }
      .nav_button:nth-of-type(2) {
        visibility: visible;
      }
      .nav_button:nth-of-type(3) {
        visibility: visible;
      }
      .nav_button:nth-of-type(4) {
        visibility: visible;
      }
    }
    .member_status {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      .tone {
        font-size: 11px !important;
      }
      .down_ed {
        font-size: 13px !important;
      }
      .smaller {
        font-size: 12px;
      }
    }
    .true {
      max-height: 280px !important;
      overflow: hidden;
      .nav_button {
        visibility: visible;
      }
    }
    .show-more {
      display: flex !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      color: white;
      .rali {
        font-size: 12px;
      }
      .fa {
        margin-top: 2px;
      }
      background: #315869;
    }
  }
  .rounded_point {
    height: 4px;
  }
  .sols1,
  .sols2,
  .sols3,
  .sols4,
  .solsho,
  .solslast,
  .flaggi {
    display: none;
  }
  .s_show {
    display: inline;
  }
  .l_show {
    display: none;
  }
}

.sols2 {
  font-size: 15.5px;
  padding-right: 6px;
}
.sols3 {
  font-size: 17.5px;
  padding-right: 7px;
}
.sols4 {
  font-size: 17.5px;
  padding-right: 5px;
}
.solsho {
  font-size: 18.5px;
  padding-right: 6px;
}
.solslast {
  font-size: 18.5px;
  padding-right: 3px;
}
.flaggi {
  .ind {
    width: 50%;
    height: 50px;
  }
  .nig {
    width: 50%;
    height: 50px;
  }
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-ontent {
  display: none;
  position: absolute;
  min-width: 100%;
  margin-bottom: 300px;
}
.sowa {
  &:hover {
    .dropdown-ontent {
      display: block !important;
    }
  }
}
.aswq {
  background: #86969d !important;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
.soa {
  font-size: 14px !important;
  color: #0f2f3e;
}

.bbas {
  margin-top: 108px !important;
}
